# flyctl launch added from .gitignore
**/.env
**/Product Requirements Document (PRD) for Sartor CRM.md
**/uploads
fly.toml
images/*
app/images/
app/models/

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Exclude unused directories and files
images/*
dataset/
models/
*.npy
*.keras
*.h5
uploads/
authentic_labels/
__pycache__/
*.pyc

# Keep only essential files
!requirements.txt
!app.py
!train_siamese.py
!generate_dataset.py
!Dockerfile
!fly.toml
